<!--内容第一部分-->

<!--内容标题-->
<%- include('../basic/homepage_content_title.ejs')%>

<!--内容1-->

<div class="page_one_content">

    <div class="content_box">
        <!--box 1-->
        <div class="provide_box">
            <div class="saas_icon"><img src="../images/homepage_icon_saas.png"/></div>
            <div class="title"><span>-</span> Saas薪酬服务平台 <span>-</span></div>
            <div class="box_content">
                <p>打款至支付机构专户发放，保障资金安全
                    导入花名册，只需一张工资表搞定
                    告别工资条，明细实时查询，在线反馈
                    手机端“工资钱包”，24小时服务，高效便捷
                </p>
            </div>
        </div>

        <!--box 2-->
        <div class="provide_box">
            <div class="saas_icon"><img src="../images/homepage_icon_money.png"/></div>
            <div class="title"><span>-</span> 社保 <span>-</span></div>
            <div class="box_content">
                <p>全国400+城市代扣代缴社保服务
                    专业社保客服团队1对1服务
                </p>
            </div>
        </div>

        <!--box 3-->
        <div class="provide_box">
            <div class="saas_icon"><img src="../images/homepage_icon_labour.png"/></div>
            <div class="title"><span>-</span> 灵活用工薪酬优化 <span>-</span></div>
            <div class="box_content">
                <p>为兼职人员提供合理合规税优方案
                    有效降低企业用工成本，提升员工实际获得
                </p>
            </div>
        </div>

        <!--box 4-->
        <div class="provide_box">
            <div class="saas_icon"><img src="../images/homepage_icon_shop.png"/></div>
            <div class="title"><span>-</span> 员工弹性福利商城 <span>-</span></div>
            <div class="box_content">
                <p>便捷全面的福利消费场景
                    福利、薪酬财税合规咨询与方案
                </p>
            </div>
        </div>




    </div>

</div>