<!--发工资-->
<div class="jx_pay_out">
    <div class="pay_out_top">
        <div class="top_left"><img src="../images/homepage_guide.jpg"/></div>
        <div class="top_right">
            <p>传统发工资</p>
            <p>我们传统的发工资，不但得有工资条，银行卡，还得人事统计再通过财务发工资，耗时且不方便。</p>
        </div>

    </div>

    <div class="pay_out_top">
        <div class="top_right">
            <p>用嘉薪服务平台发工资</p>
            <p>用嘉薪服务平台发工资，无需银行卡，只需一张工资表，半小时内发放完成。达到了高速、准确、安全、合规。</p>
        </div>
        <div class="top_left"><img src="../images/homepage_guide1.jpg"/></div>

    </div>





</div>