<!--内容第一部分-->

<!--内容标题-->
<%- include('../basic/homepage_content_title.ejs')%>

<!--内容1-->

<div class="page_one_content">

    <div class="content_box">
        <!--box 1-->
        <div class="provide_box">
            <div class="saas_icon"><img src="../../images/homepage_icon_saas.png"/></div>
            <div class="title">Saas薪酬服务平台</div>
            <div class="box_content">
                <p>打款至支付机构专户发放，保障资金安全
                    导入花名册，只需一张工资表搞定
                    告别工资条，明细实时查询，在线反馈
                    手机端“工资钱包”，24小时服务，高效便捷</p>
            </div>
        </div>




    </div>

</div>