<div class="page_three">

    <div class="page_three_box">


        <!--内容标题-->
        <div class="jx_content_title">
            <div class="content_title_main">
                <img src="../images/homepage_title_left_icon.png"/>
                <span>合作伙伴</span>
                <img src="../images/homepage_title_right_icon.png"/>
            </div>
            <div class="content_title_sub">cooperative partner</div>

        </div>


        <!--内容1-->

        <div class="page_three_content">

                <div class="partner_list">
                    <ul>
                        <!-- 1 -->
                        <li>
                            <p><img src="../images/homepage_Partners.png"></p>
                        </li>
                        <!-- 2 -->
                        <li>
                            <p><img src="../images/homepage_Partners1.png"></p>
                        </li>
                        <!-- 3 -->
                        <li>
                            <p><img src="../images/homepage_Partners2.png"></p>

                        </li>

                        <!-- 4 -->
                        <li>
                            <p><img src="../images/homepage_Partners3.png"></p>

                        </li>

                        <!-- 5 -->
                        <li>
                            <p><img src="../images/homepage_Partners4.png"></p>

                        </li>

                        <!-- 6 -->
                        <li>
                            <p><img src="../images/homepage_Partners5.png"></p>

                        </li>

                        <!-- 7 -->
                        <li>
                            <p><img src="../images/homepage_Partners6.png"></p>

                        </li>

                        <!-- 8 -->
                        <li>
                            <p><img src="../images/homepage_Partners7.png"></p>

                        </li>

                        <!-- 9 -->
                        <li>
                            <p><img src="../images/homepage_Partners8.png"></p>

                        </li>

                        <!-- 10 -->
                        <li>
                            <p><img src="../images/homepage_Partners9.png"></p>

                        </li>

                        <!-- 11 -->
                        <li>
                            <p><img src="../images/homepage_Partners10.png"></p>

                        </li>

                        <!-- 12 -->
                        <li>
                            <p><img src="../images/homepage_Partners11.png"></p>

                        </li>


                        <div style="clear: both"></div>
                    </ul>
                </div>
        </div>
    </div>
</div>
