

<div class="jx_banner">

    <div class="jx_bg">

        <div class="jx_banner_text">
            <div class="main_title">
                <span>高速</span><img src="../images/homepage_banner_symbol.png"/>
                <span>准确</span><img src="../images/homepage_banner_symbol.png"/>
                <span>安全</span><img src="../images/homepage_banner_symbol.png"/>
                <span>合规</span>
            </div>
            <div class="sub_title">一千人发工资，不用办银行卡，一张工资表半小时内发放完成</div>
            <a class="banner_button" onclick="jxCustomerService.click()">立即咨询</a>
        </div>
        <div class="jx_banner_photo"><img src="../images/homepage_bannner_bg.png"/></div>
    </div>

</div>