<div class="footer">
    <div class="jx_footer bottom_bg">
        <div class="jx_footer_info">
            <!-- logo-->
            <div class="service">
                <img class="logo" src="../images/homepage_top_logo.png">
                <p>嘉薪</p>
            </div>
            <!-- about us-->
            <div class="about_us">
                <div>
                    <div class="title">关于我们</div>
                    <div class="content">
                        <a href="about.html"><p>公司简介</p></a>
                        <a href="services.html"><p>薪酬服务</p></a>
                        <a href="salary.html"><p>智能工资条</p></a>
                    </div>
                </div>
                <div></div>

            </div>
            <!-- contact us-->
            <div class="content_us">
                 <div>
                    <div class="title">联系我们</div>
                    <div class="content">
                        <p>地址：上海市徐汇区加华商务广场A2栋101</p>
                        <p>电话：400-921-7052（周一至周五9:00—17.30）</p>
                        <p onclick="jxCustomerService.click()">咨询：在线客服</p>
                    </div>
                 </div>
                <div></div>

            </div>
            <!-- code-->
            <div class="contact">
                <div class="add">
                    <p><img src="../images/homepage_bottom_code.png"></p>
                    <p>关注微信小程序</p>
                    <p>自助接收和查看工资条</p>
                </div>
                <div class="add">
                    <p><img src="../images/homepage_bottom_code1.png"></p>
                    <p>关注微信公众号</p>
                    <p>了解更多信息</p>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
         </div>
        <div class="jx_footer_provider">
            <div class="icp">网站备案号：<a href="http://www.miitbeian.gov.cn/">沪ICP备18013447号-1</a></div>
            <div class="copyright">Copyright 2014-2017 www.99payroll.cn All Rights Reserved</div>
        </div>
    </div>
</div>