<!--侧边栏-->
<div class="jx_sidebar">

    <div class="service_nav">

        <div class="nav_top">
            <div class="jx_nav_phone" onclick="jxCustomerService.click()">
                <li class="phone_text"><img src="../images/nav_customer_icon.png"/><span><img src="../images/nav_customer1_icon.png"/></span></li>在<br>线<br>客<br>服<br>
            </div>

        </div>

        <div class="nav_top">
            <div class="jx_nav_phone">
                <li class="phone_text"><img src="../images/nav_phone_icon.png"/><span><img src="../images/nav_phone1_icon.png"/></span></li>电<br>话<br>咨<br>询<br>

            </div>
            <div class="list_section">
                <p>咨询电话</p>
                <strong>400-921-7052</strong>
            </div>
        </div>

    </div>

</div>