嘉薪官网顶部导航栏
    <div class="jx_nav">
        <div class="jx_nav_content">
            <!--logo -->
            <div class="jx_nav_logo"><img src="../images/homepage_top_logo.png">嘉薪</div>

            <!--切换的tab-->
            <div class="jx_switch">
                <ul>
                    <li <% if (tabone) { %> class="one"<%}%>>
                        <a href="homepage.html" class="switch_text">首页</a>
                    </li>
                    <li <% if (tabtwo) { %> class="one"<%}%>><a href="services.html" class="switch_text">薪酬服务</a></li>
                    <li <% if (tabthree) { %> class="one"<%}%>><a href="staff.html" class="switch_text">灵活用工税优</a></li>
                    <li <% if (tabfour) { %> class="one"<%}%>> <a href="salary.html" class="switch_text" >智能工资条</a></li>
                    <li <% if (tabfive) { %> class="one"<%}%>><a href="about.html" class="switch_text">关于我们</a></li>

                </ul>

            </div>

            <!--企业登录注册-->

            <div class="jx_nav_right">

                <a class="jx_log_in" href="https://ent.99payroll.cn/#/login">企业注册 / 登录</a>

            </div>

        </div>

    </div>


