<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嘉薪首页</title>
</head>
<body>


<!-- 首页banner-->
<%-include('../component/homepage/page_banner.ejs')%>

<!--发工资-->
<%-include('../component/homepage/page_pay_out.ejs')%>

<!--我们能为您提供什么-->
<%-include('../component/homepage/page_one.ejs')%>


<!--底部导航-->



</body>
</html>