

<!--工资条banner-->


<div class="salary_banner">

    <div class="salary_bg">

        <div class="salary_text">
            <div class="english_one">专属你的涨薪工资条</div>
            <img src="../images/salary_background_orange.png"/>
            <div class="main_text_title">智能工资条</div>
            <img src="../images/salary_background_orange.png"/>
        </div>

        <div class="jx_banner_photo"><img src="../images/salary_machine_banner.png"/></div>



    </div>

</div>

