<!--智能工资条内容1->

<!--内容标题-->
<div class="services_content_title">

    <p>更清晰</p>
    <p></p>
    <div class="title_shape"></div>

</div>


<!--更清晰-->
<div class="salary_one">

    <div class="salary_one_left">

        <img src="../images/salary_clear_green.png"/>

    </div>

    <div class="salary_one_right">

        <div class="salary_right_text">
            <div class="text_first_row">
                <div class="left_circle_orange"></div>
                <div class="right_text">工资明细清晰呈现，一目了然</div>

            </div>

            <div class="text_first_row">

                <div class="left_circle_orange"></div>
                <div class="right_text">工资条备注说明，提前消除员工疑惑</div>

            </div>


        </div>

    </div>

</div>



<!--内容标题-->
<div class="services_content_title">

    <p>更及时</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<!--更及时-->
<div class="salary_two">

    <div class="salary_one_right">

        <div class="salary_right_text">

            <div class="text_first_row">

                <div class="left_circle_orange"></div>
                <div class="right_text">工资条发送成功，员工及时接收短信提醒</div>

            </div>

            <div class="text_first_row">

                <div class="left_circle_orange"></div>
                <div class="right_text">员工反馈及时接收，在线回复解答疑惑</div>

            </div>



        </div>

    </div>

    <div class="salary_one_left">

        <img src="../images/salary_more_green.png"/>

    </div>


</div>