<!--智能工资条内容1->

<!--内容标题-->
<div class="services_content_title">

    <p>更安全</p>
    <p></p>
    <div class="title_shape"></div>

</div>


<!--更安全-->
<div class="salary_one">

    <div class="salary_one_left">

        <img src="../images/salary_data_green.png"/>

    </div>

    <div class="salary_one_right">

            <div class="salary_right_text">
                <div class="text_first_row">
                         <div class="left_circle_orange"></div>
                         <div class="right_text">数据加密处理，即使数据库管理员也无法查看原始数据</div>

                     </div>

                <div class="text_first_row">

                    <div class="left_circle_orange"></div>
                    <div class="right_text">数据多维度校验，发错也可随时撤回</div>

                </div>

                <div class="text_first_row">

                    <div class="left_circle_orange"></div>
                    <div class="right_text">工资条阅后即焚，数据更保密</div>

                   </div>

            </div>

    </div>

</div>



<!--内容标题-->
<div class="services_content_title">

    <p>更省力</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<!--更省力-->
<div class="salary_two">

    <div class="salary_one_right">

        <div class="salary_right_text">

            <div class="text_first_row">

                <div class="left_circle_orange"></div>
                <div class="right_text">支持自定义工资条模板</div>

            </div>

            <div class="text_first_row">

                <div class="left_circle_orange"></div>
                <div class="right_text">三步一个步骤，一键群发</div>

            </div>



        </div>

    </div>

    <div class="salary_one_left">

        <img src="../images/salary_save_green.png"/>

    </div>


</div>