

<!--薪酬服务banner-->


<div class="module_banner">

    <div class="module_bg">

        <div class="module_text">
            <p class="main_text">薪酬服务</p>
            <p class="english">REMUNERATION SERVICES</p>
            <div class="sub_text">
                <span>让发工资</span><img src="../images/services_banner_icon1.png"/>
                <span>变得</span><img src="../images/services_banner_icon1.png"/>
                <span>更简单</span>

            </div>
        </div>
        <div class="jx_banner_photo"><img src="../images/services_banner_icon.png"/></div>
    </div>

    <div class="banner_nav">

        <div class="nav_section">
            <ul class="nav_list">
                <li>
                    <div class="module_content"><img src="../images/services_banner_icon2.png"/>打款至工资专户 </div>
                </li>

                <li>
                    <div class="module_content"><img src="../images/services_banner_icon3.png"/>一键上传工资单 </div>
                </li>

                <li>
                    <div class="module_content"><img src="../images/services_banner_icon4.png"/>快速发放至用户账户 </div>
                </li>

                <li>
                    <div class="module_content"><img src="../images/services_banner_icon5.png"/>登录小程序绑卡提现 </div>
                </li>
            </ul>
        </div>
    </div>
</div>