<!--薪酬服务模块4内容-->
<!--内容标题-->
<div class="services_content_title">

    <p>垫资发工资</p>
    <p>根据客户垫发工资需求，提供专业的垫发工资服务方案</p>
    <div class="title_shape"></div>

</div>

<!--内容4-->

<div class="module_four">

    <div class="content_four">
        <div class="wages_content_bg">
            <img src="../images/services_wages_bg.png"/>
        </div>

        <div class="wages_text">
            <p>简单申请</p>
            <p>发工资或缴社保3-6个月以上企业授信</p>
        </div>

        <div class="wages_text">
            <p>快速征信</p>
            <p>数据征信+法人担保，三个工作日内审批</p>
        </div>

        <div class="wages_text">
            <p>操作方便</p>
            <p>申请、授信在线全流程可见</p>
        </div>

        <div class="wages_text">
            <p>额度灵活</p>
            <p>一次5-50万，灵活使用，解燃眉之急</p>
        </div>

        <div class="wages_text">
            <p>费用低廉</p>
            <p>费用按日计算，用多少算多少，不用不计费</p>
        </div>
    </div>
</div>