<!--薪酬服务模块3内容-->
<!--内容标题-->
<div class="services_content_title">

    <p>代缴社保、个税</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<!--内容3-->

<div class="module_three">

    <div class="content_box_three">
        <!--box 1-->
        <div class="money_box">
            <div class="money_icon1"><img src="../images/services_money_icon1.png"/></div>
            <div class="money_title">覆盖面广</div>
            <div class="money_content">
                <p>覆盖全国400+个市、县同步更新国内4000套不同社保规则。</p>
            </div>
        </div>

        <!--box 2-->

        <div class="money_box">
            <div class="money_icon1"><img src="../images/services_money_icon2.png"/></div>
            <div class="money_title">一步到位</div>
            <div class="money_content">
                <p>工伤、医疗、生育等保险赔付协助服务，无需额外费用。</p>
            </div>
        </div>

        <!--box 3-->

        <div class="money_box">
            <div class="money_icon1"><img src="../images/services_money_icon3.png"/></div>
            <div class="money_title">专人对接</div>
            <div class="money_content">
                <p>企业对接专人客服，保障权益。</p>
            </div>
        </div>

        <!--box 4-->

        <div class="money_box">
            <div class="money_icon1"><img src="../images/services_money_icon4.png"/></div>
            <div class="money_title">增值服务</div>
            <div class="money_content">
                <p>劳动、劳务报酬所得税优咨询，灵活用工方案咨询。</p>
            </div>
        </div>


    </div>
</div>