<!--薪酬服务模块2内容-->

<!--内容标题-->
<div class="services_content_title">

    <p>如何查看工资及提现</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<!--内容2-->
<div class="module_two">

    <div class="module_two_box">
        <div class="computer">
            <div class="computer_bg">
                <img src="../images/services_computer.png"/>
            </div>
            <div class="computer_content">
                <img src="../images/services_computer1.png"/>
            </div>

        </div>
        <ul class="bot_one">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>