<!--薪酬服务模块1内容-->

<!--内容标题-->
<%- include('../basic/services_content_title.ejs')%>

<div class="module_one">
    <!--内容1-->
    <div class="module_box">
        <div class="box_Broadcast">
            <img src="../images/services_pay_out1.png"/>
            <ul class="bot">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="box_content">
            <!--文案1-->
            <div class="content_list">
                    <span class="list_number">01</span>
                    <span class="list_text">
                        一键导入，快速发放
                        <p>下载工资表模板，填写相应数据，上传表格自动生成工资条，一键群发更方便</p>
                    </span>
                </div>

            <!--文案2-->
            <div class="content_list">
                <span class="list_number">02</span>
                <span class="list_text">
                        核对信息，减少错发
                        <p>数据导入后，再次确认数据信息</p>
                    </span>
            </div>

            <!--文案3-->
            <div class="content_list">
                <span class="list_number">03</span>
                <span class="list_text">
                        线上付款，安全快捷
                        <p>集团企业发工资，一个账号统一管理企业认证签约需审核，付款需支付验证，资金更安全</p>
                    </span>
            </div>

            <!--文案4-->
            <div class="content_list">
                <span class="list_number">04</span>
                <span class="list_text">
                       工资单随时撤回
                        <p>工资单随时撤回重发，再也不用担心发错工资</p>
                    </span>
            </div>
        </div>
    </div>
</div>