
<!--灵活用工税优banner-->


<div class="module_banner_one1">

    <div class="module_bg_one1">

        <div class="module_text_one1">
            <div class="main_text_one1">灵活用工   薪酬优化</div>
            <div class="english_one1">合法合规，  降本增收</div>

        </div>
        <div class="jx_banner_photo1"><img src="../images/staff_banner_icon.png"/></div>
    </div>

</div>

