<!--灵活用工税优模块2内容-->

<!--内容标题-->
<div class="services_content_title">

    <p>我们的服务</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<div class="section_two">

    <!--内容1-->

    <div class="page_two_content">

        <div class="content_box">
            <!-- 1 -->
            <div class="part">

                <div class="two_part_title">
                   企业用人成本增加怎么办？
                </div>

                <div class="two_part_text">

                    企业按照传统方式发放灵活用工人员的工资，包含社保与其他税费成本；无合法票据入账。
                </div>


            </div>

            <!-- 2 -->
            <div class="part">
                <div class="two_part_title">
                   自由职业者、兼职人员个税高，怎么办？
                </div>
                <div class="two_part_text">
                    在没有劳动合同的情况下，算作劳务费，灵活用工800元起征（20%-40%高额劳务费个税成本）；算作工资，用人成本不断攀升，员工到手工资少。

                </div>

            </div>

        </div>





        <div class="content_box1">

            <div class="content_box1_up">
               <div class="section_two_left">

                <div class="staff_personal">

                     <div class="staff_icon">
                        <img src="../../images/staff_boss_icon1.png"/>
                     </div>

                     <div class="staff_left_text">
                         <div class="left_title">老板</div>
                         <div class="left_text">随本增效，上市无忧</div>
                     </div>
                </div>

                <div class="staff_personal">
                    <div class="staff_icon">
                        <img src="../../images/staff_staff_icon3.png"/>
                    </div>

                    <div class="staff_left_text">
                        <div class="left_title">员工</div>
                        <div class="left_text">实际收入增加</div>
                    </div>
                </div>
            </div>


               <div class="section_two_middle">

                <img src="../../images/staff_science.png"/>

            </div>

               <div class="section_two_right">
                 <div class="staff_personal">
                       <div class="staff_icon">
                          <img src="../../images/staff_finance_icon2.png"/>
                       </div>

                       <div class="staff_left_text">
                          <div class="left_title">财务</div>
                          <div class="left_text">合法合规，操作简便</div>
                       </div>
                 </div>

                <div class="staff_personal">
                <div class="staff_icon">
                    <img src="../../images/staff_hr_icon4.png"/>
                </div>

                <div class="staff_left_text">
                    <div class="left_title">人事</div>
                    <div class="left_text">薪酬激励，留住员工</div>
                </div>
            </div>

            </div>

            </div>
            <div class="staff_footer_text">
                嘉薪紧跟“互联网+人力资源”风口，提供灵活用工人员薪资代发服务，并合理优化灵活用工人员薪酬体系，增加员工实际收入，降低企业用人成本
            </div>




    </div>


</div>
</div>