<!--灵活用工税优模块1内容-->

<!--内容标题-->
<div class="services_content_title">

    <p>什么是灵活用工</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<div class="section_one">

    <!--内容1-->

    <div class="page_two_content">

        <div class="content_box">
            <!-- 1 -->
            <div class="part bg_1">

                <div class="part_title">
                    <div class="title">波动的工作量</div>
                </div>

                <div class="part_middle">

                    <div class="middle_title center">工作量突增导致人力不足</div>
                    <div class="middle_title">业务空闲期造成的人力浪费</div>
                </div>
                <div class="part_title">
                    <div class="title">固定员工</div>
                </div>
               <!-- <div class="part_grey"></div>-->

            </div>

            <!-- 2 -->
            <div class="part bg_1">
                <div class="part_title">
                    <div class="title">波动的工作量</div>
                </div>
                <div class="part_middle">

                    <div class="middle_title center">灵活员工</div>

                </div>
                <div class="part_title">
                    <div class="title up">固定员工</div>
                </div>

            </div>

        </div>

        <div class="content_box1">


            <div class="content_title">
                <div class="title_left">传统用工</div>
                <div class="title_right">灵活用工</div>
            </div>

            <div class="content_text">灵活用工区别于固定全职，是指企业基于用人需求的波峰波谷，灵活地按需雇佣人才，双方不建立正式的全职劳务关系，比如:快递小哥、外卖骑手、大学生兼职、网络主播等，这种“人力资源共享经济”更为灵活，企业节约了成本，人才价值也可以充分发挥</div>


        </div>

    </div>


</div>