<!--内容标题-->
<div class="services_content_title">

    <p>平台介绍</p>
    <p></p>
    <div class="title_shape"></div>

</div>

<div class="about_us_box">



    <div class="about_details">
        <div class="title">introduction</div>
        <p>上海广略企业服务外包有限公司成立于2016年，是经普陀区人力资源和社会保障局批准，经工商局登记注册的一家专业从事劳务派遣、服务外包、薪酬咨询等人力资源服务的机构。</p>
        <p>专注于为企业提供一站式HR SaaS薪酬服务，包括工资代发，社保代缴，个税优化，灵活用工，劳务外包，电子工资条等。</p>
        <p>嘉薪平台有着服务世界500强的丰富经验，有专业的财务、税务筹划经验，服务千余家国内外知名企业客户。拥有毕业于清华、交大等知名院校以及服务过华腾、Accor、汇付天下等著名企业的精英团队。为企业提供更专业的薪酬税优服务，让天下没有难发的薪水。</p>
    </div>


</div>