

<!--关于我们banner-->


<div class="module_banner_about">

    <div class="about_banner_content">
        <div class="banner_circle">
            <img src="../images/about_banner_bg1.png"/>
            <p>让天下没有难发的工资</p>
        </div>

    </div>
</div>